*{
    margin: 0;
    padding: 0;
}
.com-rotate{
    -webkit-animation : rotate 2s linear infinite;
    -moz-animation : rotate 2s linear infinite;
    -o-animation : rotate 2s linear infinite;
    -ms-animation : rotate 2s linear infinite;
    animation : rotate 2s linear infinite;
}

.com-mask{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(55, 58, 71, 0.8);
}

.com-li-clean{
    list-style: none;
}