.closeABtn {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.4;
}
.closeABtn:hover {
  opacity: 0.8;
}
.mask {
  position: absolute;
  left: 0;
  top: 0;
}
.dialog_container,
.dialog_btnContainer {
  width: 100%;
  height: auto;
}
.dialog_yesBtn {
  width: 100%;
  font-size: 15px;
  padding: 1em 2em;
  outline: none;
  font-weight: 600;
  border: none;
  color: #fff;
  background: #c94e50;
}
